.heads h1
{
font-style: oblique;
font-family: sans-serif;
font-size: 40 px.;
color : #000080 ;
}
.About h2
{
  font-style: normal;
  font-family: sans-serif;
  font-size: 33px.;
  color: #FF00FF;
}
.Purpose
{font-style: normal;
  font-family: sans-serif;
  font-size: 33 px.;
  color: #800080;
}
.par{font-family: sans-serif;font-style: normal;font-size: 16 px;}
